<div class="h-100 bg-white">
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Bienvenido</span>
      </a>
    </header>
<!--
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Mesa de Partes Virtual</h1>
        <p class="col-md-8 fs-4">Sistema...</p>
      </div>
    </div> -->
  </div>

</div>
